.wrapper {
  display: flex;
  margin-bottom: 30px;
}

.text {
  flex-basis: 60%;
}

.img {
  flex-basis: 40%;
}

.img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.img .subtitle {
  width: 100%;
  display: block;
  font-size: 8pt;
}

.wrapper > :first-child {
  margin-right: 20px;
}

.text h2 {
  margin-top: 20px;
}
.text h2:first-child {
  margin-top: 0;
}

/* Large Images */
.wrapper.largeImage .text {
  flex-basis: 40%;
}
.wrapper.largeImage .img {
  flex-basis: 60%;
}
@media (max-width: 750px) {
  .wrapper.largeImage .text {
    flex-basis: 50%;
  }
  .wrapper.largeImage .img {
    flex-basis: 50%;
  }
}

/* Small Images */
.wrapper.smallImage .text {
  flex-basis: 75%;
}
.wrapper.smallImage .img {
  flex-basis: 25%;
}

/* Wrap images below text on small pages */
@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
  .img, .img.large {
    min-width: 100%;
    margin-top: 20px;
    order: 1;
  }
}
