html,
body {
  padding: 0;
  margin: 0;
  background: url("/img/background.png");

  font-size: 10pt;
  color: #664422;
  font-family: Century Gothic,Helvetica,Arial;
}

a {
  color: #47A0CF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #47A0CF;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  color: #47A0CF;
  font-size: 1.5em;
}
