.main {
  width: 100%;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 4px solid #CDB89E;
  margin-bottom: 20px;
}

.main img {
}

.main span {
    font-size: 10.3pt;
    color: #CDB89E;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 5px;
    text-align: right;
}


@media (max-width: 750px) {
  .main a {
    display: block;
  }
  .main span {
    position: relative;
    display: block;
    margin-top: 10px;
  }
}